<div class="container">

  <div class="row">

    <div class="col s12">
      <div class="card-panel teal">
        <h5 class="white-text">Faria aula novamente com esse professor</h5>
        <p class="white-text"><%= (@rating.take_again ? "Sim" : "Não") %></p>

        <h5 class="white-text">Dificuldade:</h5>
        <div class="white-text"><%= @rating.difficulty %></div>

        <h5 class="white-text">Avaliação</h5>
        <p class="white-text"><%= @rating.text %></p>

        <h5 class="white-text">Teria aula novamente com esse professor</h5>
        <span class="white-text"><%= (@rating.take_again ? "Sim" : "Não") %></span>

        <h5 class="white-text">Deveria Fazer</h5>
        <p class="white-text"><%= @rating.to_do %></p>

        <h5 class="white-text">Parar de Fazer</h5>
        <p class="white-text"><%= @rating.not_to_do %></p>
      </div>
    </div>

  </div>

</div>