<% @teachers.each do |teacher| %>
  <div class="col s3">
    <div class="card sticky-action">

      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="<%= teacher.avatar %>">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">
          <%= teacher.name.truncate(20) %>
          <i class="material-icons right">more_vert</i>
        </span>
        <p>Nota: <%= teacher.grade %></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">
          <%= teacher.name %>
          <i class="material-icons right">close</i>
        </span>
        <p>Titulo: <%= teacher.title.text %></p>
        <p>Nota: <%= teacher.grade %></p>
        <p>Dificuldade: <%= teacher.difficulty %></p>
        <p>Total de avaliações: <%= teacher.ratings.length %></p>
      </div>

      <div class="card-action center">
        <%= link_to "Detalhes", teacher_path(teacher) %>
        <%= link_to "Avaliar", new_teacher_rating_path(teacher) %>
      </div>
    </div>
  </div>
<% end %>