<div class="container">

  <%= link_to 'Voltar', :back %>

  <div class="row">

    <div class="col s4">
      <img class="materialboxed" width="250" src="https://robohash.org/<%= @teacher.name.parameterize %>?bgset=any" data-caption="<%= @teacher.name %>">
    </div>

    <div class="col s8">
      <h3><%= @teacher.name %></h3>
      <h5>Título: <%= @teacher.title %></h5>
    </div>

  </div>

  <% if @teacher.ratings.any? %>

    <div class="row">
      <div class="col s12">
        <h4>Avaliações</h4>
      </div>

      <div class="row">

        <% @teacher.ratings.each do |rating| %>
          <div class="col s4">

            <%= link_to teacher_rating_path(@teacher, rating) do %>

              <div class="card-panel teal">
                <span class="white-text">Teria aula novamente: <%= (rating.take_again ? "Sim" : "Não") %></span>
                <br>
                <span class="white-text">Dificuldade: <%= rating.difficulty %></span>
                <br>
                <p class="white-text truncate">Texto: <%= rating.text %></p>
              </div>

            <% end %>
          </div>
        <% end %>

      </div>

    <% else %>

      <div class="row">

        <div class="center-align col s12">
          <h4>Não foi encontrado avaliações :(</h4>
          <i class="material-icons">list</i>
        </div>

      </div>

    <% end %>

  </div>
</div>