<!DOCTYPE html>
<html>
  <head>
    <title>ProgwebTrab</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body class="blue lighten-5">

    <% unless devise_controller? %>
      <%= render 'shared/navbar' %>
    <% end %>

    <div class="container-fluid">
      <%= yield %>
    </div>

  </body>
</html>
